<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col offset="1" size="10">

        <ion-item>
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label> Avatar Item </ion-label>
        </ion-item>

        <ion-item color="primary">
          <ion-input label="Default Input" placeholder="Enter text"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-input label="Fixed Input" label-placement="fixed" placeholder="Enter text"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-input label="Stacked Input" label-placement="stacked" placeholder="Enter text"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-input label="Floating Input" label-placement="floating" placeholder="Enter text"></ion-input>
        </ion-item>
        
        <ion-item fill="outline">
          <ion-input label="Floating Input: Outline (MD only)" label-placement="floating" placeholder="Enter text"></ion-input>
        </ion-item>
        
        <ion-item fill="solid">
          <ion-input label="Floating Input: Solid (MD only)" label-placement="floating" placeholder="Enter text"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-select label="Select" placeholder="Make a Selection">
      <ion-select-option value="">No Game Console</ion-select-option>
      <ion-select-option value="nes">NES</ion-select-option>
      <ion-select-option value="n64">Nintendo64</ion-select-option>
      <ion-select-option value="ps">PlayStation</ion-select-option>
      <ion-select-option value="genesis">Sega Genesis</ion-select-option>
      <ion-select-option value="saturn">Sega Saturn</ion-select-option>
      <ion-select-option value="snes">SNES</ion-select-option>
    </ion-select>
  </ion-item>
  
  <ion-item>
    <ion-toggle> Toggle </ion-toggle>
  </ion-item>
  
  <ion-item>
    <ion-checkbox> Checkbox </ion-checkbox>
  </ion-item>
  
  <ion-item>
    <ion-range label-placement="start">
      <div slot="label">Range</div>
    </ion-range>
  </ion-item>
  
  <ion-item button detail="true">
    <ion-label>
      <h3>Button Item</h3>
      <p>Detail set to true - detail arrow displays on both modes</p>
    </ion-label>
  </ion-item>

  <ion-item href="/login">
    <ion-label>Anchor Item</ion-label>
  </ion-item>

</ion-col>
</ion-row>
</ion-grid>
  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-content>
