<!-- product-list.component.html -->
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar >
      <ion-buttons slot="end" >
        <ion-menu-button>
            <div class="me-3" >
              <ion-icon size="large" name="cart-outline"></ion-icon>
              <div class="circle">
                {{ cart_count }}
              </div>
          </div>
          </ion-menu-button>
      </ion-buttons>
      <ion-title>{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size="4" *ngFor="let product of products">
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                <h4>{{ product.product_name }}</h4>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-img src="../../assets/dg-1.jpg"></ion-img>
              <form #cartForm="ngForm" (ngSubmit)="addToCart(product, cartForm)">
                <ion-item>
                  <ion-label>Quantity:</ion-label>
                  <ion-input type="number" min="1" [(ngModel)]="product.qty" name="qty"></ion-input>
                </ion-item>
                <!-- <ion-button (click)="navToCart()" expand="full" class="ion-margin-top">Add to Cart</ion-button> -->
                <ion-button type="submit" expand="full" class="ion-margin-top">Add to Cart</ion-button>
              </form>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</div>

<ion-menu contentId="main-content" side="end" class="custom-menu">
  <ion-header>
    <ion-toolbar>
      <ion-title>Cart Items</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>

    <ion-row>
      <ion-col class="container" >
      <table class="table">
        <thead>
          <tr>
            <th>Item</th>
            <th>Amount</th>
            <th>Qty</th>
            <th>Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cart; let i = index;">
            <td>{{ item.product_name }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.qty }}</td>
            <td>{{ item.qty * item.price }}</td>
            <td>
              <!-- <button class="btn btn-danger btn-sm" (click)="removeItemFromCart(i)">Remove</button> -->
              <ion-button color="danger" size="small" (click)="removeItemFromCart(i)">Remove</ion-button>
            </td>
          </tr>

          <tr>
            <td></td>
            <td></td>
            <td>Total:</td>
            <td>{{ total }}</td>
            <td></td>
          </tr>          
          </tbody>
        </table>
        <ion-button size="small" [routerLink]="['/tabs/checkout']">Proceed to Checkout</ion-button>
      </ion-col>
    </ion-row>
    
  </ion-content>
</ion-menu>
